*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #121214;
    font-family: 'Roboto', sans-serif;
}
.containerFormLogin{
    display: flex;
    max-width: 936px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    border-radius: 5px;
}

.contentLogin, .contentFormLogin{
    flex: 1;
}

.contentLogin h1{
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 10px;
    padding-bottom: 32px;
    font-weight: bold;
    margin-top: 60px;
    color: #fff;
}


.contentFormLogin{
    max-width: 480px;
    height: 476px;
    padding: 64px;
    background: #202024;
    border-radius: 5px;
}


.contentFormLogin form input{
    width: 100%;
    padding: 0 24px;
    height: 50px;
    margin-bottom: 12px;
    border-radius: 6px;
    background: #121214;
    border: transparent;
    font-size: 16px;
}

 input:focus {
    box-shadow: 0px 0px 5px 5px #8257e5;
    border: 5px solid #8257e5;
    color: #fff;
  }

.contentFormLogin form h5{
    font-size: 14px;
    color: #8257e6;
    margin: 0px 0px 24px 0px;
}

.contentFormLogin form button:disabled{
    width: 100%;
    font-size: 16px;
    background: #41356b;
    height: 50px;
    color: #fff;
    border: transparent;
    border-radius: 6px;
    margin-bottom: 24px;
}

.contentFormLogin form p{
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.contentFormLogin form p > span {
    color: #8257e6;
}
hr{
    margin: 24px 0;
    opacity: 0.03;
}

.waysToFormLogin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.waysToFormLogin p{
    color: #fff;
    font-size: 14px;
    width: 90px;
}
.waysToFormLogin a{
    display: inline-block;
    width: 244px;
    text-align: center;
    padding: 16px 0;
    color: #fff;
    font-size: 16px;
    background: #29292e;
    border-radius: 6px;
    text-decoration: none;
}

.waysToFormLogin a:hover{
    background: #8257e6;
    transition: 0.5s ease;
}


.waysToFormLogin a img{
    color: #8257e6;
    margin-right: 10px;
}
.waysToFormLogin a{
    display: flex;
    justify-content: center;
}

